{% extends 'customer/email_base.html' %}
{% load i18n %}
{% block body %}
<!-- Message Body -->
<tr>
    <td class="container-padding" bgcolor="#ffffff" style="background-color: #ffffff; padding-left: 30px; padding-right: 30px; font-size: 13px; line-height: 20px; font-family: Open Sans, sans-serif; color: #333; border-radius: 5px;" align="left">
        <br>
        <!--/message HTML content -->
        <p>{% blocktrans %}Hi {{full_name}} {{product}},{% endblocktrans %}</p>
        <br>
        <p>{% blocktrans with course_title=course_title platform_name=platform_name %}Thank you for purchasing {{course_title}}. Your order number is {{ order_number }}. The charge below will appear on your next credit or debit card statement with a company name of “Flexible Road LLC” (Parent Company of SkillUp Online).{% endblocktrans %}</p>
        <br>
        <p>Your receipt <a href={{ receipt_page_url }}>{{ receipt_page_url }}</a></p>
        <br>
        <p>{% blocktrans %}You can access your course on your <a href="https://skillup.online/dashboard">Skill-Up Online</a> dashboard. {% endblocktrans %} </p>
        <p>{% blocktrans %}To explore other great courses, visit the <a href="https://skillup.online">Skill-Up Online</a> website. More courses are added every day!{% endblocktrans %}</p>
        <br>
        <p>{% trans "Thank you. We hope you enjoy the course!" %}</p>
        <p>{% blocktrans %}SkillUp Online Team {% endblocktrans %}</p>
        <p>{% blocktrans %}A Business Unit of Flexible Road LLC  {% endblocktrans %}</p>
        <!--/message HTML content -->
        <br><br>
    </td>
</tr>

<tr>
    <td class="footer-padding" style="padding-left: 30px; padding-right: 30px; font-size: 13px; line-height: 20px; font-family: Open Sans, sans-serif; color: #002D40; background-color: #f3f3f3;" align="left">
        <!--footer content -->
        <br>
        <p>{% blocktrans with course_title=course_title platform_name=platform_name %}You are receiving this email because you purchased a {{course_title}}.{% endblocktrans %}</p>
        <br>
        <!--/ end footer content -->
    </td>
</tr>
<!--/100% wrapper-->
<br>
<br>
{% endblock body %}
